<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhgs.app.mapper.hh.PointMapper">
    <select id="queryByType" parameterType="int" resultType="com.hhgs.app.model.DO.Points">

        SELECT
            P.ORG_ID orgId,
            P.PLANT_CODE plantCode,
            P.DESCRIPTION description,
            P.ORG_TYPE orgType,
            SI.PLANT_NAME plantName,
            INFLUXDB.DB_NAME dbName,
            INFLUXDB.URL url
        FROM
            WEBAPP_POINTS P
        JOIN (
            SELECT
                PLANT_CODE,
                PLANT_NAME
            FROM
                DEVICEMODEL_PLANT_INFO
            WHERE
                PLANT_TYPE = #{type}
        ) si ON P.PLANT_CODE = SI.PLANT_CODE
        JOIN WEBAPP_INFLUXDB_INFO INFLUXDB ON P.PLANT_CODE = INFLUXDB.PLANT_CODE
    </select>


    <select id="queryIndicatorGrapIndex" parameterType="int" resultType="com.hhgs.app.model.DO.Points">
        select
            ORG_POINT_CODE orgId,
            STATION_ID plantCode,
            BUS_CODE description,
            ORG_TYPE orgType
        from  PRESENTATION_DATA_RELATE where  STATION_ID= #{plantCode} and ORG_TYPE in (4,1)
    </select>
</mapper>